<form>
  <div class="form-group">
    <label>Task Name</label>
    <input name="taskName" class="form-control" type="text" [(ngModel)]="task.Name" required>
  </div>
  <div class="form-group">
    <label>Description</label>
    <input name="description" class="form-control" [(ngModel)]="task.Description" required>
  </div>
  <div class="form-group">
    <label>Task Group</label>
    <select (change)="selectTaskGroup($event.target.value)">
      <option value="0">--All--</option>
      <option *ngFor="let tg of taskGroups" value={{tg.Id_TaskGroupModel}}>
        {{tg.GroupName}}
      </option>
    </select>
  </div>
 

  <div style="text-align:center;">
    <button type="submit" (click)="addTask()" class="btn btn-success" style="width:100px">Save</button>
    <button (click)="goBack()" class="btn btn-default" style="width:100px">Cancel</button>
  </div>
</form>
