<div class="row">
  <div class="row">
    <div class="col-md-6">
      <div style="display:flex;flex-wrap:nowrap">
        <input style="width:40%" placeholder="Search group" class="form-control" type="text" [(ngModel)]="filter.Name" (ngModelChange)="getTasks()" />
        <button (click)="insertTask()" class="btn btn-success"><i class="fas fa-plus"></i> Add</button>
      </div>
    </div>
  </div>


  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Task Group</th>
          <th style="width:200px">Options</th>
        </tr>
      </thead>
      <tbody id="myBody">
        <tr *ngFor="let item of tasks">
          <td>
            {{item.Name}}
          </td>
          <td>
            {{item.Description}}
          </td>
          <td>
            <span *ngIf="item.TaskGroup">{{item.TaskGroup.GroupName}}</span>
          </td>
          <td style="width:200px">
            <button class="btn btn-default" (click)="saveTask(item)"><b class="fas fa-edit" style="color:blue"></b>Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

