<div class="row">
  <div class="col-md-3">
    <div class="row">
        <div class="col-md-12" style="text-align:center;">
        <button *ngIf ="clockIn" (click)="clickClockIn()" class="btn btn-success">Clock in</button>
        <button *ngIf ="!clockIn" (click)="clickClockOut()" class="btn btn-default">Clock out</button>
      </div>
    </div>
  </div>



  <div class="col-md-12">
    <h3>All clockings</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Task</th>
          <th>Duration(minutes)</th>
          <!--<th style="width:200px"></th>-->
          <th>Assign Task</th>
        </tr>
     </thead>
      <tbody>
        <tr *ngFor="let item of clockins">
          <td>{{item.StartTime | date:'mediumDate'}}</td>
          <td>{{item.StartTime | date:'mediumTime'}}</td>
          <td>{{item.EndTime | date:'mediumTime'}}</td>
          <td><span *ngIf="item.Task">{{item.Task.Name}}</span></td>
          <td>{{item.Duration}}</td>
          <!--<td style="width:200px">
            <button *ngIf="!item.Task" class="btn btn-default" (click)="getClockings()"><b class="fas fa-edit" style="color:blue"></b>Assign Task</button>
          </td>-->
          <td>
              <select class="form-control" *ngIf="!item.Task" (change)="assignTask(item.Id_Clocking, $event.target.value)">
              <option value="0">--All--</option>
              <option *ngFor="let task of tasks" value={{task.Id_Task}}>
                 {{task.Name}}
              </option>
              </select>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

