<div class="row">
  <!--<button (click)="insertTG()" class="btn btn-success addTgBtn"><i class="fas fa-plus"></i> Add</button>-->
  <div class="row">
    <div class="col-md-6">
      <div style="display:flex;flex-wrap:nowrap">
        <input style="width:40%" placeholder="Search group" class="form-control" type="text" [(ngModel)]="filter.Name" (ngModelChange)="getTaskGroups()" />
        <button (click)="insertTG()" class="btn btn-success"><i class="fas fa-plus"></i> Add</button>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="margin-bottom:100px">
    <table class="table">
      <thead>
        <tr>
          <th>Group Name</th>
          <th style="width:200px">Options</th>
        </tr>
      </thead>
      <tbody id="myBody">
        <tr *ngFor="let item of taskGroups">
          <td>
            {{item.GroupName}}
          </td>
          <td style="width:200px">
            <button class="btn btn-default" (click)="edit(item)"><i class="fas fa-edit" style="color:blue"></i> Edit</button>
            <!--<button class="btn btn-default" (click)="delete(item)">
              <i class="fas fa-trash-alt" style="color:red"></i> Delete
            </button>-->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
