<div class="row">
  <div class="col-md-12">
    <div class="login-form-wrap">
      <div class="login-form">
        <label>Please enter your credentials</label>
        <form (ngSubmit)="authenticate($event);$event.preventDefault()">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Username" [(ngModel)]="user.username" name="username" required />
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" name="password" required/>
          </div>

          <div style="text-align:center">
            <input type="submit" class="btn btn-success" *ngIf="!isAuthenticating" value="Login" />
            <div *ngIf="isAuthenticating" style="display:flex;flex-wrap:nowrap">
              <div class="loader" style="width:50px;height:50px"></div>Authenticating, please wait.... </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
