<div class="row">
    <div class="col-md-6">

        <h1>Add new task group</h1>
        <form (ngSubmit)="addTaskGroup()">

            <div class="form-group">
                <label>Task Group Name:</label>
                <input type="text" class="form-control" [(ngModel)]="taskGroup.GroupName" name="groupName" required>
            </div>

            <div style="text-align:center">
                <button type="submit" class="btn btn-success" style="width:100px">Save</button>
                <button (click)="goBack()" class="btn btn-default" style="width:100px">Cancel</button>
            </div>

        </form>
    </div>
</div>
